{% extends "layout.njk" %}}

{% block css %}
{%if color === "dark" %}
    <link rel="stylesheet" href="/styles/dark.css" />
{%else%}
    <link rel="stylesheet" href="/styles/light.css" />
{%endif%}
{% endblock %}

{% block content %}
    <h1>Welcome to my homepage</h1>
{% endblock %}